<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [110]:
x=40
y=x+2
y
print(y)

42

In [111]:
x=y=10
x
y

10

### 1.2 Shorter and cleaner

In [112]:
y=40
y=y+2
y

42

In [113]:
#Addition
y=40
y+=2 #same as y=y+2
y

42

In [114]:
#Subtraction
y=40
y-=2 #same as y=y-2
y

38

In [115]:
#Division
y=40
y/=2 #same as y=y/2
y

20.0

In [116]:
#Multiplication
y=40
y*=2 #same as y=y*2
y

80

In [117]:
#Use <+-/*>=

### 1.3 Asking questions

In [118]:
fruits=["apple","banana","pineapple","jackfruit"]
vegetables=["celery","potato","broccoli","kale"]

In [119]:
"apple" in fruits # <in>

True

In [120]:
"peach" in fruits

False

In [121]:
"peach" not in fruits # <not in> = opposite

True

In [122]:
("apple" in fruits) and ("celery" in vegetables) # <and> = inclusive of

True

In [123]:
("apple" in fruits) or ("celery" in vegetables) # <or> = either true

True

|Question/ Condition|Math Symbol|Python Symbols|
|:-|:-:|-:|
|Equals|=|==|
|Not equal|≠|!=|
|Less than|<|<|
|Greater than|>|>|
|Less than or equal|≤|<=|
|Greater than or equal|≥|>=|

In [124]:
#Python only compares things of similar types e.g. numbers w numbers, english w english

In [125]:
#Python cannot compare 3 and apple, unless the 3 is "3" --> signals english
# 3>'apples' #will not work

In [126]:
'3'>'apples' #will work

False

In [127]:
#Python can compare 'apples' and 'oranges'
'apples'>'oranges' #will work
#Comparison works as english letters are internally represented as numbers

False

In [128]:
(x > 5) and (x < 15) #same as 5<x<15

True

In [129]:
5<x<15

True

### 1.4 There is more to if

In [130]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello Hero | Batman!

In [131]:
#To run second line 'Hello Hero | Batman!', have to define the function e.g. define Bat

name = 'Batman'
def Bat(name):
    if name == 'Batman':
        print('Hello Hero | Batman!')
    elif name == 'Robin':
        print('Hello Sidekick | Robin!')
    else:
        print('Hello World!')

In [132]:
Bat('Batman')

Hello Hero | Batman!

In [133]:
Bat('Robin')

Hello Sidekick | Robin!

In [134]:
Bat('Superman')

Hello World!

### 1.5 Python stores information in different formats or types.

In [135]:
#Integer
x = int(1.234) #int=integer, dropping the decimal portion
print(x, type(x)) #type(x) finds class

1 <class 'int'>

In [136]:
x

1

In [137]:
#Strings
x = str(1.234) #str=string=English word
print(x,type(x))

1.234 <class 'str'>

In [138]:
x

'1.234'

In [139]:
#Floats
x = float(1.234) #float, as a decimal number
print(x, type(x))

1.234 <class 'float'>

In [140]:
x

1.234

In [141]:
#Complex
x = complex(1.234) #complex, includes imaginary part or the number (+0j)
print(x, type(x)) #j is just python's way of representing imaginary numbers

(1.234+0j) <class 'complex'>

In [142]:
x

(1.234+0j)

[Basic Data types in Python](https://realpython.com/python-data-types/)

In [143]:
x='1.234'
print(x,type(x))

1.234 <class 'str'>

In [144]:
x = float(x) #changing string to float
print(x, type(x))

1.234 <class 'float'>

In [145]:
x=int(x) #changing float to integer
print(x,type(x))

1 <class 'int'>

### 1.6 Combining English and variables

In [146]:
#Example 1
name = "Batman"
print(f"Hello {name}!") #f=format=f-string

Hello Batman!

In [147]:
name = "Batman"
print(f"Hello {name.upper()}!") #.upper() for upper case
                                #.lower() for lower case
                                #ensure to use {}=string interpolation

Hello BATMAN!

In [148]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [149]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [150]:
print(f'{text:>30} hahahaha')      # A block of 30 characters; aligned right

        Bruce Wayne is Batman. hahahaha

In [151]:
print(f'{text:<30} hahahaha')      # A block of 30 characters; aligned left

Bruce Wayne is Batman.         hahahaha

In [152]:
#Example 2
import numpy as np
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}') #np is a package, **=to the power of, **3=to the power of 3
#.6f=to 6dp

The cube of pi to 6 decimal places is 31.006277

In [153]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
#.6e= output in scientific notion

The cube of pi to 6 decimal places is 3.100628e+01

Structure of f-strings


|X,Y,>,0,Z,W|Meaning|
|:-|:-|
|W|Specifies the type of variable: <br> f-float <br> d-integer <br> s-string <br> g-ask python figure out|
|X|Variable to format (Can be a number or a string)|
|>|Alignment Use <, >, ^ for Left, Right and Centre|
|Y|Total number of characters|
|Z|Number of decimal places|
|0|Use 0’s to pad the spaces|

[PyFormat](https://pyformat.info/)

### 1.7 Python can be a prima-donna.

In [154]:
#Print(hello) will not work

In [155]:
#print(hello) will not work

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

### 2.2 Getting help.

In [156]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [157]:
def hello(name):
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

In [158]:
hello("Batman")

Hello BATMAN!

In [159]:
hello("Black Widow")

Hello BLACK WIDOW!

In [160]:
hello("Aqua Man")

Hello aqua man!

In [176]:
def hello(name):
    if name == "Batman" or name =="Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

In [177]:
hello("Batman")

Hello BATMAN!

In [179]:
hello("Black Widow")

Hello BLACK WIDOW!

In [180]:
hello("Aqua Man")

Hello aqua man!

## Exercise 2 :  Bias for some heroes, continues

In [181]:
hello("batman")

Hello batman!

In [182]:
hello("batMan")

Hello batman!

In [167]:
def hello(name):
    name = name.lower() #To make letter case lower as a baseline
    if name == "batman" or name == "black widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name}!")

In [168]:
hello("batman")

Hello BATMAN!

In [169]:
hello("batMan")

Hello BATMAN!

In [170]:
hello("bATMan")

Hello BATMAN!

## Exercise 3 :  Look for help to replace

In [171]:
def hello(name): #name is a variable, hello is the function
    y = name.replace("Joker", "Batman") #output with y=, return y
    return y
hello("The Joker lives in Gotham City")

'The Batman lives in Gotham City'

In [172]:
y="The Joker lives in Gotham City"
y.replace("Joker","Batman")

'The Batman lives in Gotham City'

In [173]:
"The Joker lives in Gotham City".replace("Joker","Batman")

'The Batman lives in Gotham City'