<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [1]:
x=40
y=x+2
y
print(y)

42

In [2]:
x=y=10
x
y

10

### 1.2 Shorter and cleaner

In [3]:
y=40
y=y+2
y

42

In [4]:
#Addition
y=40
y+=2 #same as y=y+2
y

42

In [5]:
#Subtraction
y=40
y-=2 #same as y=y-2
y

38

In [6]:
#Division
y=40
y/=2 #same as y=y/2
y

20.0

In [7]:
#Multiplication
y=40
y*=2 #same as y=y*2
y

80

In [8]:
#Use <+-/*>=

### 1.3 Asking questions

In [9]:
fruits=["apple","banana","pineapple","jackfruit"]
vegetables=["celery","potato","broccoli","kale"]

In [10]:
"apple" in fruits # <in>

True

In [11]:
"peach" in fruits

False

In [12]:
"peach" not in fruits # <not in> = opposite

True

In [13]:
("apple" in fruits) and ("celery" in vegetables) # <and> = inclusive of

True

In [14]:
("apple" in fruits) or ("celery" in vegetables) # <or> = either true

True

|Question/ Condition|Math Symbol|Python Symbols|
|:-|:-:|-:|
|Equals|=|==|
|Not equal|≠|!=|
|Less than|<|<|
|Greater than|>|>|
|Less than or equal|≤|<=|
|Greater than or equal|≥|>=|

In [15]:
#Python only compares things of similar types e.g. numbers w numbers, english w english

In [16]:
#Python cannot compare 3 and apple, unless the 3 is "3" --> signals english
3>'apples' #will not work

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
'3'>'apples' #will work

In [ ]:
#Python can compare 'apples' and 'oranges'
'apples'>'oranges' #will work
#Comparison works as english letters are internally represented as numbers

In [ ]:
(x > 5) and (x < 15) #same as 5<x<15

In [ ]:
5<x<15

### 1.4 There is more to if

In [ ]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

In [ ]:
#To run second line 'Hello Hero | Batman!', have to define the function e.g. define Bat

name = 'Batman'
def Bat(name):
    if name == 'Batman':
        print('Hello Hero | Batman!')
    elif name == 'Robin':
        print('Hello Sidekick | Robin!')
    else:
        print('Hello World!')

In [ ]:
Bat('Batman')

In [ ]:
Bat('Robin')

In [ ]:
Bat('Superman')

### 1.5 Python stores information in different formats or types.

In [ ]:
#Integer
x = int(1.234) #int=integer, dropping the decimal portion
print(x, type(x)) #type(x) finds class

In [ ]:
x

In [ ]:
#Strings
x = str(1.234) #str=string=English word
print(x,type(x))

In [ ]:
x

In [ ]:
#Floats
x = float(1.234) #float, as a decimal number
print(x, type(x))

In [ ]:
x

In [ ]:
#Complex
x = complex(1.234) #complex, includes imaginary part or the number (+0j)
print(x, type(x)) #j is just python's way of representing imaginary numbers

In [ ]:
x

[Basic Data types in Python](https://realpython.com/python-data-types/)

In [ ]:
x='1.234'
print(x,type(x))

In [ ]:
x = float(x) #changing string to float
print(x, type(x))

In [ ]:
x=int(x) #changing float to integer
print(x,type(x))

### 1.6 Combining English and variables

In [ ]:
#Example 1
name = "Batman"
print(f"Hello {name}!") #f=format=f-string

In [ ]:
name = "Batman"
print(f"Hello {name.upper()}!") #.upper() for upper case
                                #.lower() for lower case
                                #ensure to use {}=string interpolation

In [ ]:
x = 10
print(f"The value of {x} squared is {x**2}!")

In [ ]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

In [ ]:
print(f'{text:>30} hahahaha')      # A block of 30 characters; aligned right

In [ ]:
print(f'{text:<30} hahahaha')      # A block of 30 characters; aligned left

In [ ]:
#Example 2
import numpy as np
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}') #np is a package, **=to the power of, **3=to the power of 3
#.6f=to 6dp

In [ ]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
#.6e= output in scientific notion

Structure of f-strings


|X,Y,>,0,Z,W|Meaning|
|:-|:-|
|W|Specifies the type of variable: <br> f-float <br> d-integer <br> s-string <br> g-ask python figure out|
|X|Variable to format (Can be a number or a string)|
|>|Alignment Use <, >, ^ for Left, Right and Centre|
|Y|Total number of characters|
|Z|Number of decimal places|
|0|Use 0’s to pad the spaces|

[PyFormat](https://pyformat.info/)

### 1.7 Python can be a prima-donna.

In [ ]:
Print(hello)

In [ ]:
print(hello)

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

### 2.2 Getting help.

In [ ]:
help(print)

## Exercise 1 :  Bias for some heroes

In [ ]:
def hello(name):
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

In [ ]:
hello("Batman")

In [ ]:
hello("Black Widow")

In [ ]:
hello("Aqua Man")

In [ ]:
def hello(name):
    if name == "Batman" or name =="Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")

In [ ]:
hello("Batman")

In [ ]:
hello("Black Widow")

In [ ]:
hello("Aqua Man")

## Exercise 2 :  Bias for some heroes, continues

In [ ]:
hello("batman")

In [ ]:
hello("batMan")

In [17]:
def hello(name):
    name = name.lower() #To make letter case lower as a baseline
    if name == "batman" or name == "black widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name}!")

In [18]:
hello("batman")

Hello BATMAN!

In [19]:
hello("batMan")

Hello BATMAN!

In [20]:
hello("bATMan")

Hello BATMAN!

## Exercise 3 :  Look for help to replace

In [52]:
def hello(name): #name is a variable, hello is the function
    y = name.replace("Joker", "Batman") #output with y=, return y
    return y
hello("The Joker lives in Gotham City")

'The Batman lives in Gotham City'

In [53]:
y="The Joker lives in Gotham City"
y.replace("Joker","Batman")

'The Batman lives in Gotham City'

In [54]:
"The Joker lives in Gotham City".replace("Joker","Batman")

'The Batman lives in Gotham City'