<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Need)</span></div>

## 1 Some Python Basics

### 1.1 Functions

In [4]:
print('hehehe')

hehehe

Parentheses = ( )

### 1.2 Python is interpreted

In [5]:
print('Hello World')

Hello World

In [6]:
print('Hello World again')

Hello World again

### 1.3 Python is sensitive.

print not Print

In [7]:
Print('Hello World')

NameError: name 'Print' is not defined

### 1.4 Comments

In [9]:
print('Hello World') #will work

Hello World

In [8]:
Print ('Hello World') #will not work

NameError: name 'Print' is not defined

In [11]:
1+2+3+4 #math <3

10

### 1.5 = is not the same as ==

In [13]:
# = to set something equal
# == to check if something is equal

In [16]:
name = Batman # have to define with ('')

NameError: name 'Batman' is not defined

In [20]:
name = 'Batman'

In [21]:
name == 'Batman'

True

### 1.6 Use if to make decisions

In [27]:
name = 'Batman'
if name == 'Batman':
    print('Hello Hero|Batman!')
else:
    print('Hello World!') 
#note the use of : and indentations (spaces/tabs)

Hello Hero|Batman!

### 1.7 Indentations (spaces) are sooo IMPORTANT!

In [24]:
x=10
print(x)

10

In [29]:
x=10
    print(x) #indentations will not work here, is used for True and False blocks

IndentationError: unexpected indent (2859545721.py, line 2)

### 1.8 ‘age’ is English, age is a variable.

In [41]:
student_age = 24
print(student_age) # print value, require to be in the same block of code

24

In [40]:
print ('student_age') # print word

student_age

In [45]:
# student age = 24
print(student_age)

24

In [46]:
# can use either '' or "", but good to be consistent

In [47]:
print("You're twenty years old")

You're twenty years old

### 1.9 Escape sequences

| Escape sequences    |  Meaning   |
| :--- | :--: |
| `\'`   |  Single quote  |
| `\''`   |  Backslash  |
| \n   |  Newline  |
| \t   |  Horizontal tab  |

In [54]:
print('You\'re twenty years old')

You're twenty years old

In [55]:
print('A\\B\\C')

A\B\C

In [56]:
print('A\nB\nC')

A
B
C

In [57]:
print('A\tB\tC')

A	B	C

### 1.10 Brackets

In [60]:
# () for function
print('Hello')

Hello

In [61]:
# () for mathmatics
(1+2)*5

15

In [70]:
# [] for lists of data
python_list = [1,2,3,4,5]   # A 1D list

python_list_2 = [[1, "A"],  # A 2D list
             [2, "B"],
             [3, "C"],
             [4, "D"],
             [5, "E"]]

print(python_list_2)

[[1, 'A'], [2, 'B'], [3, 'C'], [4, 'D'], [5, 'E']]

In [74]:
# {} to store data key --> value
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bruce Wayne',
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}
print(personal_info)

{'Names': 'Batman', 'Real Name': 'Bruce Wayne', 'Age': 55, 'Affiliation': 'Justice League', 'Universe': 'DC'}

In [73]:
print(personal_info['Real Name'])

Bruce Wayne

In [75]:
# Esc to select box (not typing)
# B to add cell above
# A to add cell below 
# DD to delete cell

## 2 Giving Python superpowers

### 2.1 Packages

$$\dfrac{1*((2-3)+4)^5}{6}$$

In [78]:
1 * ((2 - 3) + 4) ** 5 / 6 #** for to the power of

40.5

In [79]:
sqrt(4)

NameError: name 'sqrt' is not defined

In [84]:
import math #importing math package

In [82]:
math.sqrt(4)

2.0

In [86]:
import numpy as np #importing Numpy and giving it an alias np (short name)

In [87]:
np.sqrt(4)

2.0

In [88]:
np.sqrt([4,9,16])

array([2., 3., 4.])

### 2.2 The dot (.)

In [89]:
# . to indicate ownership
math.sqrt(4)
np.sqrt(4)

2.0

In [91]:
"I am Batman".split()

['I', 'am', 'Batman']

In [95]:
1234.split() # will not work, requires ""
"1234".split()

SyntaxError: invalid decimal literal (3986696093.py, line 1)

## Exercise 1 :  Total recall?

In [ ]:



# Your solution here

## Exercise 2 :  Debug me

In [ ]:



# Your solution here

## Exercise 3 :  In your own words

In [ ]:



# Your solution here

## Exercise 4 :  More than one way to divide

In [ ]:



# Your solution here